* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #666;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;

}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem;
    background-image: url(https://www.metropolia.fi/sites/default/files/styles/16_9_fullwith_extra_large/public/2020-01/myllypuron-kampus-ilmakuva.jpg?h=8abcec71);
    background-attachment: fixed;
    background-size: cover;
}

.navbar {
    display: flex;
    align-items: flex-end;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    z-index: 1000;
}

.nav_background {
    background-color: #565756;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    text-align: center;
    padding: 10px;
    z-index: 1000;
}

#menu-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}
#menu-container > * {
    min-width: min-content;
    min-height: min-content;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 100%;
}

.map-container {
    width: 60%;
    min-height: 400px;
    background-color: #fff;
    padding: 20px;
    height: 30rem;
    border: 2px solid #333;
}

#map {
    height: 100%;
    width: 100%;
}

.restaurant-div {
    border: 2px solid #333;
    width: 30%;
    background-color: #fff;
    padding: 20px;
}

.weekly-div {
    border: 2px solid #333;
    width: 30%;
    background-color: #fff;
    padding: 20px;
}

.daily-div {
    border: 2px solid #333;
    width: 30%;
    background-color: #fff;
    padding: 20px;
}

/* Manages the list of restaurants */

#restaurant-list {
  overflow-y: scroll;
  max-height: 25rem;
  border: 1px solid #333;
}

#restaurant-list li:first-child {
  font-weight: bold;
}

#restaurant-list:nth-child(even) li {
  background-color: white;
}

#restaurant-list:nth-child(odd) li {
  background-color: grey;
}

/* Manage Daily/Weekly buttons */

#daily-button {
  padding: 5px;
  border: none;
  height: 2rem;
  border-radius: 10%;
}

#weekly-button {
  padding: 5px;
  border: none;
  height: 2rem;
  border-radius: 10%;
}



/* Manages footers properties */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
